body{
    background-color: black;
}
.barl {
    background-color: rgb(24, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
}
.menu {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blanchedalmond;
    height: 100px;
    
}
.option {
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    font-size: 16px;
    text-align-last: auto;
    min-width: 10;
    margin: 5px 5px 5px 5px;
}
.logo{
    margin: 0px 0px 0px 40%;
}
.zap{
    position:fixed;
    bottom: 10px;
    right: 20px;
	width:100px;
	height:80px;
}
.banner{
    width: 100%;
    background-color: rgb(0, 0, 0);
}
